<h2><%= @group.name %>に入室</h2>

<h3>ゲストとして入る</h3>
<%= form_tag create_guest_path do %>

  <%= hidden_field :group_id, @group.id %>

  <div class="actions">
    <%= submit_tag "ノックする" %>
  </div>
<% end %>
