<h3>グループを作りましょう</h3>
<%= form_for @group, :url => {:action => :create} do |f| %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
