<div class="page-header">
</div>
<div class="alert alert-warning" role="alert" id="success-alert" style="display:none">
  <strong>チケットを作成しました</strong>
</div>

<%= react_component(
  'TicketBox',
  get_url: "/api/v1/tickets.json?assign_to=",
  post_url: "/api/v1/tickets",
  members: @members,
  all_members: @all_members,
  all_tickets: @all_tickets,
  current_member: @current_user.member(@group.id),
  states: @states,
  priorities: @priorities,
) %>
