/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */
body {
    padding-top: 70px;
}

.container {
    width: 100%;
    margin: 0;
}

.header-menu {
    height: 80px;
}

.main-sidebar {
    height: 100%;
    padding:0 0 32768px;
    margin-bottom: -32768px;
    width: 250px;
    position: fixed;
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0,0,0,0.28);
}

/* メイン部分、サイドバー分の余白を設定 */
.main-content {
    margin-left: 250px;
}

.main-container {
    padding:0px;
}

/* INNER HEADER */
.inner-header {
    padding:20px 36px;
}
.inner-title {
    width:300px;
    height:72px;
    float:left;
}
.content-menu-list {
    position: absolute;
    right: 20px;
}

.content-menu {
    list-style: none;
    float: left;
    display: block;
    width: 150px;
    margin: 20px 32px;
    height: 120px;
    background-color:#FFF;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
    border-bottom: 4px solid #A899FF;
}
.content-menu:hover {
    border-bottom: 4px solid #FFB809;
    color: #FFB809;
}

.menu-icon {
    width:80%;
    height:70%;
}
.icon-all-tickets {
    background: url(/images/icon/all_tickets.png) no-repeat;
    background-size: 56px 44px;
    background-position: 48px center;

}
.icon-ticket {
    background: url(/images/icon/ticket.png) no-repeat;
    background-size: 52px 40px;
    background-position: 48px center;
}
.icon-create {
    background: url(/images/icon/create.png) no-repeat;
    background-size: 44px;
    background-position: 54px center;
}

.menu-label {
    text-align: center;
}

/* INNER BODY */
.inner-body {
    padding:20px 36px;
    background-color: #F0F0F0;
}

.alert {
    position: absolute;
    width: 90%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hide-overflow {
    overflow: hidden;
}

.clear {
    clear:both;
}





