/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */
body {
    padding-top: 70px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.header-menu {
    height: 80px;
}

.main-sidebar {
    height: 100%;
    padding:0 0 32768px;
    margin-bottom: -32768px;
    width: 250px;
    position: fixed;
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0,0,0,0.28);
}

/* メイン部分、サイドバー分の余白を設定 */
.main-content {
    margin-left: 250px;
    overflow: hidden;
}

.main-container {
    padding:0px;
}

.ticket-box {
    overflow: hidden;
    height:80vh;
}

/* INNER HEADER */
.inner-header {
    padding:20px 36px;
}
.inner-title {
    width:auto;
    height:72px;
    float:left;
}
.content-menu-list {
    float: right;
    margin-bottom: -76px;
}

.content-menu {
    list-style: none;
    float: left;
    display: block;
    width: 150px;
    margin: 20px 31px;
    height: 108px;
    background-color:#FFF;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
    border-bottom: 4px solid #A899FF;
}
.content-menu:hover {
    border-bottom: 4px solid #FFB809;
    color: #FFB809;
}

.menu-icon {
    width:80%;
    height:70%;
}
.icon-all-tickets {
    background: url(/images/icon/all_tickets.png) no-repeat;
    background-size: 56px 44px;
    background-position: 48px center;
}
.icon-ticket {
    background: url(/images/icon/ticket.png) no-repeat;
    background-size: 52px 40px;
    background-position: 48px center;
}
.icon-create {
    background: url(/images/icon/create.png) no-repeat;
    background-size: 44px;
    background-position: 54px center;
}

.menu-label {
    text-align: center;
}

/* INNER BODY */
.inner-body {
    padding:20px 36px;
    background-color: #F0F0F0;
}

.inner-body .btn-default:hover,
.inner-body .btn-default:focus,
.open>.dropdown-toggle.btn-default{
    background-color: #FFF;
}

.content-list {
    height:60vh;
    overflow-y: scroll;
    margin-top: 20px;
    padding-bottom: 60px;
}

.sort-box {
    width:148px!important;
}
.sort-box>:hover {
    width:148px!important;
    color: #FFB809!important;
}
.order-box {
    width:98px!important;
    margin-left: 48px!important;
}
.order-box>:hover {
    color: #FFB809!important;
}

/* Ticket */
.ticket {
    width: 40%;
    height: 108px;
    background-color: #FFF;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
    padding: 4px 8px;
    margin: 2% 4%;
}

.ticket .ticket-number {
    margin: 0;
    color: #666;
    font-size: 18px;
}

.ticket .ticket-title {
    margin: 0;
    font-size: 24px;
    height: 56px;
}

.ticket .priority-label {
    color: #666;
}

.ticket .priority {
    float: right;
}

.ticket .star {
    color: #FFB809;
}

/* 新規 */
.ticket .state1 {
    color: #FFB809;
}
/* 進行中 */
.ticket .state2 {
    color: #22AAFF;
}
/* 完了 */
.ticket .state3 {
    color: #2222FF;
}
/* 却下 */
.ticket .state4 {
    color: #FF4422;
}
/* 保留 */
.ticket .state5 {
    color: #EE88CC;
}

.alert {
    position: absolute;
    width: 62%;
    z-index: 1200;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hide-overflow {
    overflow: hidden;
}

.clear {
    clear:both;
}





